In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook

In [109]:
import glob

In [135]:
import re

In [117]:
permits = pd.read_csv('permits_with_zip.csv', index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [118]:
permits.ISSUE_DATE = pd.DatetimeIndex(permits.ISSUE_DATE)

In [119]:
permits = permits[permits.new_zip!=0]

In [8]:
prices = pd.read_csv(open('Zip_MedianListingPricePerSqft_AllHomes.csv','rt', encoding='latin-1'))

In [9]:
prices_chicago = prices[prices.City=='Chicago']
price_by_year = prices_chicago.set_index('RegionName')[[c for c in prices_chicago.columns if c not in 
                                        ['RegionName','City','State','Metro','CountyName', 'SizeRank']]].transpose()

In [22]:
price_by_year.index=pd.DatetimeIndex(price_by_year.index)

•	~~Include reference rate (Ross will get)~~

•	~~Other macro variables (GDP) (Ross will get)~~

•	~~Population growth in CHI (Ross will get)~~

•	~~Seasonality~~

•	~~Property taxes~~

•	~~Household income~~

•	~~Poverty level indicator~~

•	~~Housing stock data (age of home)~~

•	Demographic data

•	~~Percentage of homes that are rented, vs owner occupied (if possible)~~

# Reference Rate

In [13]:
reference_rate = pd.read_csv('FEDFUNDS.csv')

In [15]:
reference_rate['DATE'] = pd.DatetimeIndex(reference_rate['DATE'])

In [25]:
reference_rate = reference_rate.set_index('DATE')

In [26]:
price_by_year['reference_rate'] = reference_rate.FEDFUNDS

In [28]:
price_by_year.head()

RegionName,60657,60614,60640,60647,60618,60613,60625,60629,60610,60619,...,60652,60631,60656,60621,60601,60655,60646,60642,60633,reference_rate
2010-01-01,NaN,349.875000,NaN,249.791667,239.950000,NaN,224.242424,130.020790,NaN,NaN,...,149.298597,248.335817,254.346137,NaN,NaN,195.326947,289.879650,NaN,NaN,0.11
2010-02-01,NaN,333.975410,NaN,245.384615,243.498518,NaN,229.489796,132.697095,NaN,NaN,...,150.544250,258.110083,257.142857,NaN,NaN,201.566223,286.716076,NaN,NaN,0.13
2010-03-01,NaN,332.692308,NaN,243.389093,242.654325,NaN,223.751515,131.219577,NaN,NaN,...,145.669291,266.335223,244.335579,NaN,NaN,199.733023,283.931872,NaN,NaN,0.16
2010-04-01,NaN,324.875000,NaN,258.200323,245.098039,NaN,230.892372,131.146684,NaN,NaN,...,145.669291,266.075157,240.885417,NaN,NaN,207.734882,286.049784,NaN,NaN,0.20
2010-05-01,NaN,327.377422,NaN,249.000000,242.125996,NaN,227.212121,127.664234,NaN,NaN,...,144.881170,263.422318,237.370892,NaN,NaN,206.861311,283.533261,NaN,NaN,0.20

# GDP

In [29]:
gdp = pd.read_csv('GDPC1.csv')

In [30]:
gdp.head()

         DATE     GDPC1
0  1947-01-01  2033.061
1  1947-04-01  2027.639
2  1947-07-01  2023.452
3  1947-10-01  2055.103
4  1948-01-01  2086.017

In [31]:
gdp['DATE'] = pd.DatetimeIndex(gdp['DATE'])
gdp = gdp.set_index('DATE')

In [32]:
price_by_year['GDP'] = gdp.GDPC1

In [36]:
price_by_year['GDP'] = price_by_year.GDP.fillna(method='bfill')

In [37]:
price_by_year.head()

RegionName,60657,60614,60640,60647,60618,60613,60625,60629,60610,60619,...,60631,60656,60621,60601,60655,60646,60642,60633,reference_rate,GDP
2010-01-01,NaN,349.875000,NaN,249.791667,239.950000,NaN,224.242424,130.020790,NaN,NaN,...,248.335817,254.346137,NaN,NaN,195.326947,289.879650,NaN,NaN,0.11,15415.145
2010-02-01,NaN,333.975410,NaN,245.384615,243.498518,NaN,229.489796,132.697095,NaN,NaN,...,258.110083,257.142857,NaN,NaN,201.566223,286.716076,NaN,NaN,0.13,15557.277
2010-03-01,NaN,332.692308,NaN,243.389093,242.654325,NaN,223.751515,131.219577,NaN,NaN,...,266.335223,244.335579,NaN,NaN,199.733023,283.931872,NaN,NaN,0.16,15557.277
2010-04-01,NaN,324.875000,NaN,258.200323,245.098039,NaN,230.892372,131.146684,NaN,NaN,...,266.075157,240.885417,NaN,NaN,207.734882,286.049784,NaN,NaN,0.20,15557.277
2010-05-01,NaN,327.377422,NaN,249.000000,242.125996,NaN,227.212121,127.664234,NaN,NaN,...,263.422318,237.370892,NaN,NaN,206.861311,283.533261,NaN,NaN,0.20,15671.967

# Chicago Pop

In [42]:
data = '2695624	2697529	2708209	2719735	2726772	2728524	2726215	2718946	2713067	2705994'.split('\t')

In [55]:
dates = ['4-1-2010',
         '7-1-2010',
        '7-1-2011',
        '7-1-2012',
        '7-1-2013',
        '7-1-2014',
        '7-1-2015',
        '7-1-2016',
        '7-1-2017',
        '7-1-2018']

In [56]:
chi_pop = pd.DataFrame(dict(dates=dates, population=data))

In [57]:
chi_pop['dates'] = pd.DatetimeIndex(chi_pop['dates'])
chi_pop = chi_pop.set_index('dates')
chi_pop.pop = chi_pop.population.apply(int)

In [85]:
price_by_year['chicago_pop'] = chi_pop.population

In [86]:
price_by_year['chicago_pop'] = price_by_year.chicago_pop.astype('float').interpolate(method='spline', order=1, limit_direction='both')

In [87]:
price_by_year['chicago_pop'] = price_by_year['chicago_pop'].astype(int)

In [88]:
price_by_year.head()

RegionName,60657,60614,60640,60647,60618,60613,60625,60629,60610,60619,...,60656,60621,60601,60655,60646,60642,60633,reference_rate,GDP,chicago_pop
2010-01-01,NaN,349.875000,NaN,249.791667,239.950000,NaN,224.242424,130.020790,NaN,NaN,...,254.346137,NaN,NaN,195.326947,289.879650,NaN,NaN,0.11,15415.145,2693734
2010-02-01,NaN,333.975410,NaN,245.384615,243.498518,NaN,229.489796,132.697095,NaN,NaN,...,257.142857,NaN,NaN,201.566223,286.716076,NaN,NaN,0.13,15557.277,2694384
2010-03-01,NaN,332.692308,NaN,243.389093,242.654325,NaN,223.751515,131.219577,NaN,NaN,...,244.335579,NaN,NaN,199.733023,283.931872,NaN,NaN,0.16,15557.277,2694972
2010-04-01,NaN,324.875000,NaN,258.200323,245.098039,NaN,230.892372,131.146684,NaN,NaN,...,240.885417,NaN,NaN,207.734882,286.049784,NaN,NaN,0.20,15557.277,2695624
2010-05-01,NaN,327.377422,NaN,249.000000,242.125996,NaN,227.212121,127.664234,NaN,NaN,...,237.370892,NaN,NaN,206.861311,283.533261,NaN,NaN,0.20,15671.967,2696251

# Season

In [95]:
price_by_year['season'] = price_by_year.index.map(lambda dt: (dt.month%12 + 3)//3)

# Property Taxes

In [99]:
property_taxes = pd.DataFrame([('1-1-2018',7.266),
 ('1-1-2017',7.145),
 ('1-1-2016',6.867),
 ('1-1-2015',6.81),
 ('1-1-2014',6.832),
 ('1-1-2013',6.396),
 ('1-1-2012',5.455),
 ('1-1-2011',4.931),
 ('1-1-2010',4.627)]).rename({0:'date',1:'perc_rate'},axis=1)

In [101]:
property_taxes['date'] = pd.DatetimeIndex(property_taxes['date'])
property_taxes = property_taxes.set_index('date')

In [102]:
price_by_year['tax_rate_perc'] = property_taxes.perc_rate

In [104]:
price_by_year['tax_rate_perc'] = price_by_year['tax_rate_perc'].fillna(method='bfill')

In [107]:
price_by_year['tax_rate_perc'] = price_by_year['tax_rate_perc'].fillna(method='ffill')

In [262]:
price_by_year

RegionName,60657,60614,60640,60647,60618,60613,60625,60629,60610,60619,...,60601,60655,60646,60642,60633,reference_rate,GDP,chicago_pop,season,tax_rate_perc
2010-01-01,NaN,349.875000,NaN,249.791667,239.950000,NaN,224.242424,130.020790,NaN,NaN,...,NaN,195.326947,289.879650,NaN,NaN,0.11,15415.145,2693734,1,4.627
2010-02-01,NaN,333.975410,NaN,245.384615,243.498518,NaN,229.489796,132.697095,NaN,NaN,...,NaN,201.566223,286.716076,NaN,NaN,0.13,15557.277,2694384,1,4.931
2010-03-01,NaN,332.692308,NaN,243.389093,242.654325,NaN,223.751515,131.219577,NaN,NaN,...,NaN,199.733023,283.931872,NaN,NaN,0.16,15557.277,2694972,2,4.931
2010-04-01,NaN,324.875000,NaN,258.200323,245.098039,NaN,230.892372,131.146684,NaN,NaN,...,NaN,207.734882,286.049784,NaN,NaN,0.20,15557.277,2695624,2,4.931
2010-05-01,NaN,327.377422,NaN,249.000000,242.125996,NaN,227.212121,127.664234,NaN,NaN,...,NaN,206.861311,283.533261,NaN,NaN,0.20,15671.967,2696251,2,4.931
2010-06-01,NaN,335.271751,NaN,238.183650,241.170936,NaN,233.332667,122.683596,NaN,NaN,...,NaN,196.026495,283.009665,NaN,NaN,0.18,15671.967,2696901,3,4.931
2010-07-01,NaN,333.266667,NaN,235.264706,236.231884,NaN,224.798864,115.863331,NaN,NaN,...,NaN,190.643223,279.668504,NaN,NaN,0.18,15671.967,2697529,3,4.931
2010-08-01,NaN,338.541667,NaN,238.636364,233.277778,NaN,220.066257,117.920354,NaN,NaN,...,NaN,191.221198,274.957699,NaN,NaN,0.19,15750.625,2698437,3,4.931
2010-09-01,NaN,331.375000,NaN,231.126597,226.488352,NaN,220.714286,114.027892,NaN,NaN,...,NaN,193.605729,270.370370,NaN,NaN,0.19,15750.625,2699344,4,4.931
2010-10-01,NaN,334.131944,NaN,229.178633,228.447128,NaN,227.000000,115.420061,NaN,NaN,...,NaN,187.946429,265.885694,NaN,NaN,0.19,15750.625,2700222,4,4.931
2010-11-01,NaN,333.300000,NaN,233.432245,226.028986,NaN,217.505932,118.231492,NaN,NaN,...,NaN,185.821213,264.835666,NaN,NaN,0.19,15712.754,2701129,4,4.931
2010-12-01,NaN,333.300000,NaN,232.237312,218.125000,NaN,213.769531,111.423968,NaN,68.648764,...,NaN,189.724884,258.000000,NaN,NaN,0.18,15712.754,2702007,1,4.931
2011-01-01,NaN,335.000000,NaN,225.381818,216.502758,NaN,199.911111,105.737815,NaN,69.711538,...,NaN,187.500000,246.652935,NaN,NaN,0.17,15712.754,2702914,1,4.931
2011-02-01,NaN,336.363636,NaN,221.809314,219.826925,NaN,199.483568,102.927290,NaN,64.599567,...,NaN,187.893908,245.950038,NaN,NaN,0.16,15825.096,2703821,1,5.455
2011-03-01,NaN,349.150849,NaN,222.916667,222.551929,NaN,204.126657,97.934276,NaN,56.270096,...,NaN,189.136126,251.831502,NaN,NaN,0.14,15825.096,2704640,2,5.455
2011-04-01,NaN,379.224138,NaN,222.601190,227.678278,NaN,205.837174,100.840336,NaN,59.815971,...,NaN,195.199349,249.285714,NaN,NaN,0.10,15825.096,2705547,2,5.455
2011-05-01,NaN,392.591852,NaN,227.218225,231.657963,NaN,218.618133,105.441616,NaN,63.958513,...,NaN,199.847449,253.739712,NaN,NaN,0.09,15820.700,2706424,2,5.455
2011-06-01,NaN,383.437111,NaN,214.976959,230.000000,NaN,221.126709,102.914390,NaN,63.405797,...,NaN,185.790173,249.558615,NaN,NaN,0.09,15820.700,2707331,3,5.455
2011-07-01,NaN,374.928571,NaN,213.304924,224.618149,NaN,216.804408,102.591793,NaN,69.798137,...,NaN,181.780303,246.163213,NaN,NaN,0.07,15820.700,2708209,3,5.455
2011-08-01,NaN,369.500000,NaN,210.766082,219.683304,NaN,208.676478,102.564103,NaN,70.750000,...,NaN,185.093181,249.778515,NaN,NaN,0.10,16004.107,2709185,3,5.455
2011-09-01,NaN,371.142857,NaN,214.976959,227.201286,NaN,206.535354,102.059554,NaN,67.308973,...,NaN,180.843081,247.252747,NaN,NaN,0.08,16004.107,2710161,4,5.455
2011-10-01,NaN,376.041667,NaN,211.100099,214.025501,NaN,201.086957,99.410867,NaN,62.958648,...,NaN,183.245683,240.089799,NaN,NaN,0.07,16004.107,2711106,4,5.455
2011-11-01,NaN,371.142857,NaN,193.125671,203.304204,NaN,196.071429,95.841457,NaN,64.880952,...,NaN,180.052096,232.933750,NaN,NaN,0.08,16129.418,2712082,4,5.455
2011-12-01,NaN,362.222222,NaN,182.291667,199.686275,NaN,192.000264,92.953524,NaN,70.750000,...,NaN,174.531796,231.319685,NaN,NaN,0.07,16129.418,2713027,1,5.455
2012-01-01,NaN,362.569832,NaN,193.181818,200.000000,NaN,196.687371,93.167702,NaN,70.846075,...,NaN,174.378205,231.962025,NaN,NaN,0.08,16129.418,2714003,1,5.455
2012-02-01,NaN,379.687500,NaN,199.954545,205.716841,NaN,194.335431,96.999117,NaN,68.622667,...,NaN,168.260870,228.795696,NaN,NaN,0.10,16198.807,2714979,1,6.396
2012-03-01,NaN,386.792453,NaN,214.452765,212.255445,NaN,197.171328,98.795065,NaN,73.258937,...,NaN,167.380698,231.962025,NaN,NaN,0.13,16198.807,2715892,2,6.396
2012-04-01,NaN,402.777500,NaN,206.827586,207.193869,NaN,193.961570,94.730401,NaN,65.172054,...,NaN,168.685888,239.459961,NaN,NaN,0.14,16198.807,2716868,2,6.396
2012-05-01,NaN,387.500000,NaN,208.169678,220.000000,NaN,193.657220,89.600000,NaN,61.348507,...,NaN,166.571264,237.404580,NaN,NaN,0.16,16220.667,2717813,2,6.396
2012-06-01,NaN,386.792453,NaN,199.964286,220.000000,NaN,195.938558,91.442909,NaN,56.099174,...,NaN,164.846387,241.868280,NaN,NaN,0.16,16220.667,2718789,3,6.396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-01,NaN,489.744681,NaN,323.564713,319.207251,NaN,306.384065,137.955539,NaN,84.964772,...,NaN,194.171779,264.591367,NaN,84.619292,0.41,17863.023,2716965,4,7.145
2016-12-01,NaN,487.307344,NaN,317.800829,321.985962,NaN,300.289958,135.141252,NaN,83.829365,...,NaN,189.248992,265.100008,NaN,89.430894,0.54,17863.023,2716482,1,7.145
2017-01-01,NaN,490.727273,NaN,296.875000,334.702159,NaN,308.808989,137.219731,NaN,83.205101,...,NaN,193.981746,265.356265,NaN,84.372662,0.65,17863.023,2715982,1,7.145
2017-02-01,NaN,501.985199,NaN,299.199050,324.211508,NaN,299.417980,145.724258,NaN,85.103486,...,NaN,196.021167,270.510836,NaN,89.731120,0.66,17995.150,2715483,1,7.266
2017-03-01,NaN,498.655143,NaN,312.085659,324.189526,NaN,305.517241,146.289446,NaN,86.956522,...,NaN,194.590648,283.234899,NaN,104.872564,0.79,17995.150,2715032,2,7.266
2017-04-01,NaN,497.939560,NaN,333.268519,324.636441,NaN,298.295549,148.854167,NaN,88.966762,...,NaN,195.493197,281.923758,NaN,95.567859,0.90,17995.150,2714532,2,7.266
2017-05-01,NaN,492.746213,NaN,340.909091,324.636441,NaN,308.456376,147.684630,NaN,90.687677,...,NaN,193.820194,280.447917,NaN,94.967650,0.91,18120.843,2714049,2,7.266
2017-06-01,NaN,479.519575,NaN,327.662107,332.321429,NaN,309.595420,150.320197,NaN,90.141979,...,NaN,198.093478,274.290529,331.250000,94.017094,1.04,18120.843,2713549,3,7.266
2017-07-01,NaN,485.475630,NaN,310.990338,338.768835,NaN,309.595420,149.787398,446.619541,88.675585,...,NaN,198.093478,278.459821,353.117706,97.518751,1.15,18120.843,2713067,3,7.266
2017-08-01,NaN,499.600000,NaN,310.547076,337.479586,NaN,306.988353,150.257261,447.500000,86.442263,...,NaN,201.524854,275.178387,354.116185,107.117117,1.16,18223.758,2712465,3,7.266
2017-09-01,NaN,500.000000,NaN,312.019874,327.513966,NaN,287.425549,149.635036,469.717773,84.090909,...,NaN,203.843781,272.667993,342.269231,101.987271,1.15,18223.758,2711865,4,7.266
2017-10-01,NaN,499.441964,NaN,315.000000,328.571429,NaN,294.117647,148.830617,475.501209,83.880037,...,NaN,208.946488,272.486772,375.062735,100.000000,1.15,18223.758,2711283,4,7.266
2017-11-01,NaN,514.036656,NaN,316.744864,320.833333,NaN,293.233320,148.839665,471.014493,83.194444,...,NaN,207.190161,271.273517,356.044319,97.357383,1.16,18323.963,2710683,4,7.266
2017-12-01,NaN,521.854613,NaN,318.596395,315.208941,NaN,294.117647,144.384269,469.717773,84.530988,...,NaN,208.647627,268.181818,385.469880,101.923077,1.30,18323.963,2710101,1,7.266
2018-01-01,NaN,519.210800,NaN,304.829060,320.512821,NaN,317.878788,137.299771,452.674897,83.940243,...,NaN,212.926136,267.104926,386.000000,105.081035,1.41,18323.963,2709501,1,7.266
2018-02-01,NaN,520.408163,257.704570,309.561404,322.972973,NaN,321.741190,146.000000,436.734694,84.080050,...,NaN,208.603066,266.988950,333.992347,107.162409,1.42,18511.576,2708900,1,7.266
2018-03-01,370.841014,474.615133,232.777778,314.689446,318.430657,293.952968,292.598341,148.125000,387.348485,86.805556,...,NaN,213.472870,268.611933,323.202353,105.811966,1.51,18511.576,2708358,2,7.266
2018-04-01,359.104923,463.478554,228.597847,315.576537,316.506410,299.873333,286.285480,146.703055,379.800000,90.863636,...,603.974072,207.056579,271.751230,331.250000,107.026564,1.69,18511.576,2707757,2,7.266
2018-05-01,356.026667,467.709677,227.020202,315.076103,318.425855,297.551020,275.106493,152.817574,380.049169,91.583333,...,603.974072,211.083744,282.458791,329.739574,108.191248,1.70,18664.973,2707176,2,7.266
2018-06-01,353.915663,460.702601,227.247475,313.942387,313.257199,287.000551,270.480087,158.730159,375.000000,93.221769,...,591.985428,213.054187,287.502494,331.250000,112.277868,1.82,18664.973,2706575,3,7.266
2018-07-01,349.950000,451.580645,230.585470,320.000000,313.775046,285.673469,269.000000,160.873883,376.476218,94.915254,...,586.518787,217.407251,282.745475,326.460481,112.277868,1.91,18664.973,2705994,3,7.266
2018-08-01,346.153846,427.609756,237.556561,327.602800,306.981758,282.284066,271.960000,162.280371,374.691111,92.983043,...,557.368135,220.528455,285.664160,325.615846,108.191248,1.91,18765.256,2705393,3,7.266
2018-09-01,342.962963,440.119331,233.701682,332.122134,303.432836,288.380282,276.093919,164.262821,370.919881,96.478428,...,556.496567,220.332462,280.000000,320.337143,104.837398,1.95,18765.256,2704792,4,7.266
2018-10-01,339.673913,445.966381,230.000000,330.434783,306.431068,281.513563,276.013805,163.528336,372.093023,92.920354,...,579.895456,211.393081,278.163110,323.931065,102.644398,2.19,18765.256,2704211,4,7.266
2018-11-01,344.537333,458.636206,226.409091,321.070234,299.909091,285.642857,276.501800,160.560111,370.919881,92.592593,...,581.124758,210.933539,281.471390,319.960000,108.414099,2.20,18912.326,2703610,4,7.266
2018-12-01,342.592593,453.636364,224.166667,320.691367,306.373745,294.429708,277.354839,159.568100,367.368421,93.146924,...,589.242192,215.447154,281.971137,320.620301,102.644398,2.27,18912.326,2703029,1,7.266
2019-01-01,332.667997,444.500000,226.109039,316.119516,302.032247,294.429708,277.884615,159.203540,365.116279,98.048397,...,599.438819,208.800000,283.156136,320.337143,101.910288,2.40,18912.326,2702428,1,7.266
2019-02-01,332.792332,442.371558,232.142857,317.272727,303.602573,294.879689,283.250000,158.045282,363.682481,97.663185,...,575.865129,206.675874,281.978633,321.428571,106.479113,2.40,NaN,2701828,1,7.266
2019-03-01,336.315789,442.307692,234.066752,321.931060,317.258883,306.102624,285.065590,164.909963,363.636364,97.908596,...,575.572522,207.105515,285.093775,324.916667,117.846154,2.41,NaN,2701285,2,7.266
2019-04-01,344.290657,445.851248,233.636364,330.434783,325.737813,324.665628,287.647059,170.972644,366.111111,109.220637,...,576.380190,208.061677,291.352093,326.592408,121.027132,2.42,NaN,2700685,2,7.266

# Household Income & Poverty

In [121]:
zips = set(permits.new_zip.unique())

In [180]:
irs_data = []
for csv in tqdm_notebook(glob.glob('zip_irs_data\\*')):
    year = re.search(r'\d+',csv).group()
    year = '20' + year
    irs = pd.read_csv(csv)
    irs.columns = [str(c).lower() for c in irs.columns]
    grouped_irs = irs[irs.zipcode.isin(zips)].groupby('zipcode').sum()[['a00100','n1']]
    grouped_irs['income_per_filing'] = grouped_irs['a00100']/grouped_irs['n1']
    grouped_irs['year'] = year
    
    for level in range(1,7):
        grouped_irs[f'lvl_{level}'] = irs[irs.agi_stub==level].groupby('zipcode').sum().n1
    
    irs_data.append(grouped_irs)

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [181]:
zip_income_data = pd.concat([df.reset_index() for df in irs_data]).rename({'a00100':'total_agi','n1':'n_tax_returns'}, axis=1)

In [184]:
for c in zip_income_data.columns:
    if 'lvl_' in c:
        zip_income_data[c] = zip_income_data[c].apply(int)

In [186]:
zip_income_data.head()

,zipcode,total_agi,n_tax_returns,income_per_filing,year,lvl_1,lvl_2,lvl_3,lvl_4,lvl_5,lvl_6
0,60064,1.872610e+05,6542.0001,28.624426,2010,3809,1872,538,194,129,0
1,60185,8.975530e+05,15982.0000,56.160243,2010,6522,3775,1930,1338,1950,467
2,60411,8.708020e+05,24864.0000,35.022603,2010,12590,6636,3100,1433,1025,80
3,60601,1.138367e+06,6246.0000,182.255363,2010,1210,1141,1063,717,1253,862
4,60602,2.684500e+05,1476.0000,181.876694,2010,610,241,154,100,174,197

# Housing Stock Data

In [189]:
home_dat = pd.read_csv(r"C:\Development\Python\Big_Data\BigDataFinal\housing_stock_data\ACS_11_5YR_DP04_with_ann.csv", skiprows=1)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,10,13,14,29,30,33,34,37,38,41,42,45,46,49,50,53,54,57,58,61,62,69,70,73,74,77,78,81,82,85,86,89,90,93,94,97,98,101,102,109,110,113,114,117,118,121,122,125,126,129,130,133,134,137,138,141,142,153,154,157,158,161,162,165,166,169,170,173,174,181,182,185,186,201,202,205,206,209,210,213,214,217,218,221,222,229,230,233,234,237,238,241,242,249,250,253,254,257,258,261,262,265,266,269,270,273,274,277,278,281,282,289,290,293,294,297,298,305,306,309,310,313,314) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [208]:
cols_of_interest_1 = [
    'Id2',
    'Estimate; YEAR STRUCTURE BUILT - Built 2005 or later',
    'Estimate; YEAR STRUCTURE BUILT - Built 2000 to 2004',
    'Estimate; YEAR STRUCTURE BUILT - Built 1990 to 1999',
    'Estimate; YEAR STRUCTURE BUILT - Built 1980 to 1989',
    'Estimate; YEAR STRUCTURE BUILT - Built 1970 to 1979',
    'Estimate; YEAR STRUCTURE BUILT - Built 1960 to 1969',
    'Estimate; YEAR STRUCTURE BUILT - Built 1950 to 1959',
    'Estimate; YEAR STRUCTURE BUILT - Built 1940 to 1949',
    'Estimate; YEAR STRUCTURE BUILT - Built 1939 or earlier',
    'Estimate; HOUSING TENURE - Owner-occupied',
    'Estimate; HOUSING TENURE - Renter-occupied'
]

In [209]:
rename_dict_1 = {    'Id2':'zip_code',
    'Estimate; YEAR STRUCTURE BUILT - Built 2005 or later':'built_2005_present',
    'Estimate; YEAR STRUCTURE BUILT - Built 2000 to 2004':'built_2000_2004',
    'Estimate; YEAR STRUCTURE BUILT - Built 1990 to 1999':'built_1990_1999',
    'Estimate; YEAR STRUCTURE BUILT - Built 1980 to 1989':'built_1980_1989',
    'Estimate; YEAR STRUCTURE BUILT - Built 1970 to 1979':'built_1970_1979',
    'Estimate; YEAR STRUCTURE BUILT - Built 1960 to 1969':'built_1960_1969',
    'Estimate; YEAR STRUCTURE BUILT - Built 1950 to 1959':'built_1950_1959',
    'Estimate; YEAR STRUCTURE BUILT - Built 1940 to 1949':'built_1940_1949',
    'Estimate; YEAR STRUCTURE BUILT - Built 1939 or earlier':'built_1939',
    'Estimate; HOUSING TENURE - Owner-occupied':'owned',
    'Estimate; HOUSING TENURE - Renter-occupied':'rented'}

In [242]:
cols_of_interest_2 = [
    'Id2',
    'Estimate; YEAR STRUCTURE BUILT - Built 2010 or later',
    'Estimate; YEAR STRUCTURE BUILT - Built 2000 to 2009',
    'Estimate; YEAR STRUCTURE BUILT - Built 1990 to 1999',
    'Estimate; YEAR STRUCTURE BUILT - Built 1980 to 1989',
    'Estimate; YEAR STRUCTURE BUILT - Built 1970 to 1979',
    'Estimate; YEAR STRUCTURE BUILT - Built 1960 to 1969',
    'Estimate; YEAR STRUCTURE BUILT - Built 1950 to 1959',
    'Estimate; YEAR STRUCTURE BUILT - Built 1940 to 1949',
    'Estimate; YEAR STRUCTURE BUILT - Built 1939 or earlier',
    'Estimate; HOUSING TENURE - Owner-occupied',
    'Estimate; HOUSING TENURE - Renter-occupied'
]

In [243]:
rename_dict_2 = {    'Id2':'zip_code',
    'Estimate; YEAR STRUCTURE BUILT - Built 2010 or later':'built_2010_present',
    'Estimate; YEAR STRUCTURE BUILT - Built 2000 to 2009':'built_2000_2009',
    'Estimate; YEAR STRUCTURE BUILT - Built 1990 to 1999':'built_1990_1999',
    'Estimate; YEAR STRUCTURE BUILT - Built 1980 to 1989':'built_1980_1989',
    'Estimate; YEAR STRUCTURE BUILT - Built 1970 to 1979':'built_1970_1979',
    'Estimate; YEAR STRUCTURE BUILT - Built 1960 to 1969':'built_1960_1969',
    'Estimate; YEAR STRUCTURE BUILT - Built 1950 to 1959':'built_1950_1959',
    'Estimate; YEAR STRUCTURE BUILT - Built 1940 to 1949':'built_1940_1949',
    'Estimate; YEAR STRUCTURE BUILT - Built 1939 or earlier':'built_1939',
    'Estimate; HOUSING TENURE - Owner-occupied':'owned',
    'Estimate; HOUSING TENURE - Renter-occupied':'rented'}

In [244]:
cols_of_interest_3 = 'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 2010 or later	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 2010 or later	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 2010 or later	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 2010 or later	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 2000 to 2009	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 2000 to 2009	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 2000 to 2009	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 2000 to 2009	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1990 to 1999	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1990 to 1999	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1990 to 1999	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1990 to 1999	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1980 to 1989	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1980 to 1989	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1980 to 1989	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1980 to 1989	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1970 to 1979	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1970 to 1979	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1970 to 1979	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1970 to 1979	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1960 to 1969	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1960 to 1969	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1960 to 1969	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1960 to 1969	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1950 to 1959	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1950 to 1959	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1950 to 1959	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1950 to 1959	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1940 to 1949	Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1940 to 1949	Percent; YEAR STRUCTURE BUILT - Total housing units - Built 1940 to 1949	Percent Margin of Error; YEAR STRUCTURE BUILT - Total housing units - Built 1940 to 1949	Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1939 or earlier'.split('\t')
cols_of_interest_3 = ['Id2'] + [i for i in cols_of_interest_3 if 'Estimate' in i] + ['Estimate; HOUSING TENURE - Occupied housing units - Owner-occupied',
                                                                                     'Estimate; HOUSING TENURE - Occupied housing units - Renter-occupied']

In [245]:
rename_dict_3 = ['zip_code','built_2010_present','built_2000_2009',
    'built_1990_1999',
    'built_1980_1989',
    'built_1970_1979',
    'built_1960_1969',
    'built_1950_1959',
    'built_1940_1949',
    'built_1939',
    'owned',
    'rented']
rename_dict_3 = {k:v for k,v in zip(cols_of_interest_3,rename_dict_3)}

In [246]:
cols_of_interest_4 = [
    'Id2',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 2014 or later',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 2010 to 2013',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 2000 to 2009',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1990 to 1999',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1980 to 1989',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1970 to 1979',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1960 to 1969',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1950 to 1959',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1940 to 1949',
    'Estimate; YEAR STRUCTURE BUILT - Total housing units - Built 1939 or earlier',
    'Estimate; HOUSING TENURE - Occupied housing units - Owner-occupied',
    'Estimate; HOUSING TENURE - Occupied housing units - Renter-occupied'
]

In [247]:
rename_dict_4 = ['zip_code',
                 'built_2014_present',
                 'built_2010_2013',
                 'built_2000_2009',
                 'built_1990_1999',
                 'built_1980_1989',
                 'built_1970_1979',
                 'built_1960_1969',
                 'built_1950_1959',
                 'built_1940_1949',
                 'built_1939',
                 'owned',
                 'rented']
rename_dict_4 = {k:v for k,v in zip(cols_of_interest_4,rename_dict_4)}

In [250]:
agg_home_dat = []
for csv in tqdm_notebook(glob.glob('housing_stock_data\\*')):
    year = re.search(r'\d+',csv).group()
    year = '20' + year
    home_dat = pd.read_csv(csv, skiprows=1)
    try:
        cols_of_interest = cols_of_interest_1
        rename_dict = rename_dict_1
        home_dat = home_dat[cols_of_interest]
        colgroup = 1
    except KeyError:
        cols_of_interest = cols_of_interest_2
        rename_dict = rename_dict_2
        try:
            home_dat = home_dat[cols_of_interest]
            colgroup = 2
        except KeyError:
            cols_of_interest = cols_of_interest_3
            rename_dict = rename_dict_3
            try:
                home_dat = home_dat[cols_of_interest]
                colgroup = 3
            except KeyError:
                cols_of_interest = cols_of_interest_4
                rename_dict = rename_dict_4
                home_dat = home_dat[cols_of_interest]
                colgroup = 4
    home_dat = home_dat.rename(rename_dict,axis=1)
    home_dat = home_dat[home_dat.zip_code.isin(zips)]
    if colgroup == 1:
        home_dat['built_2000_2009'] = home_dat.built_2000_2004 + home_dat.built_2005_present
        home_dat['built_2010_present'] = 0
        home_dat = home_dat.drop(['built_2000_2004','built_2005_present'], axis=1)
    elif colgroup == 4:
        home_dat['built_2010_present'] = home_dat.built_2010_2013 + home_dat.built_2014_present
        home_dat = home_dat.drop(['built_2010_2013','built_2014_present'], axis=1)
    home_dat['year'] = year
    agg_home_dat.append(home_dat)

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [257]:
home_data = pd.concat([df.reset_index() for df in agg_home_dat], sort=False)

# Saving

In [258]:
price_by_year.to_csv('all_pricing_data.csv')

In [260]:
zip_income_data.to_csv('zip_income_data.csv')

In [261]:
home_data.to_csv('housing_stock_data.csv')

In [263]:
home_data.year.unique()

array(['2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype=object)